.add-container{
    border: 2px solid black;
}

.row{
    margin-left: 0px;
}

.heading{
    background-color: darkblue;
    border-bottom: 2px solid black;
    color: white;
}

.table-data{
    border: 2px solid lightgray;
    border-top: 8px solid darkblue;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.add-button{
    margin-bottom: 20px;
}

.table-info{
    border: 2px solid black;
    margin: 9px 15px 20px;
}

.ant-table-pagination.ant-pagination {
    display: none;
}

.individual-row-data .ant-btn:hover, .ant-btn:focus {
    color: white;
    background-color: darkblue;
}
